app/.env
app/serviceAccountKey.json
app/firebaseConfig.json
app/package-lock.json
app/node_modules/
# Logs
app/logs
app/*.log
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/pnpm-debug.log*
app/lerna-debug.log*

app/coverage

app/dist
app/dist-ssr
app/*.local

# Editor directories and files
app/.vscode/*
app/!.vscode/extensions.json
app/.idea
app/.DS_Store
app/*.suo
app/*.ntvs*
app/*.njsproj
app/*.sln
app/*.sw?
